/* Courses*/
#courses{
    color: #333;
    padding: 1rem;
}
.courses{
display: flex;
flex-direction: column;
padding: 1rem;
}
.courses .course{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.courses .course .course-image{
    margin-right: 0.5rem;
    position: relative;
}
.courses .course .course-image img{
    border-radius: 5px;
}
.courses .course .course-image span{
    width: 7rem;
    height: 1.5rem;
    background:red ;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.courses .course .course-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.courses .course .course-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.courses .course .course-info .instructor{
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.courses .course .course-info .rating{
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}